doctype
html
    head
        meta(chareset="utf-8")
        title #{title}
        include ./includes/head
    body
        include ./includes/header
        block content
        h1 #{title}